/* CSS reset, dit niet aanpassen! */

/* box-sizing: border box zorgt ervoor dat de padding en border worden
meegenomen in de width en de heigth van een element*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

/* Hieronder mag eigen CSS code */

body {
    background-color: tomato;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


}

p {
    color: black;
    text-align: center;
    margin: 0px;

}

img {
    width: 150px;
}


h1 {
    color: blue;
    font-size: 3rem;

}

a {
    color: black;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

#contact {
    color: purple;
}

.menu {
    background-color: white;
}

.menu:hover {
    background-color: purple;
}

.mijnDivs {
    width: 300px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 3px solid purple;
}

#mijnDiv1 {
    width: 100vw;
    margin: 0;
    height: 25vh;
}

#mijnDiv3 {
    background-color: steelblue;
    background-image: url("img/chania.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}